@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum pen Script";
  min-height: 100vh;
  margin: 0px;
  letter-spacing: -0.4px;
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.App {
  min-height: 100vh;

  overflow: auto;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Journeymate {
  color: #f97800;
}

.Signtitle {
  color: #f97800;
}
.Signitem {
  margin: 50px;
}
.Areaname {
  color: #f97800;
}
.Area {
  margin: 50px;
}

.Tag {
  color: #f97800;
}
.login {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
